{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}LogIn{% endblock title %}

{% block content %}
    <h1>Log In</h1>
    <form class="login" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">LogIn</button>
    </form>
{% endblock content %}