{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}LogIn{% endblock title %}

{% block content %}
    <h1>Log Out</h1>
    <p>Are you sure you want to sign out?</p>
    <form class="login" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-danger">Log Out</button>
        <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
    </form>
{% endblock content %}