{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}LogIn{% endblock title %}

{% block content %}
    <h1>Sign UP</h1>
    
<p>Already have an account? Then <a href="{{ login_url }}">sign in</a>.</p>
    <form class="login" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Sign UP</button>
    </form>
{% endblock content %}