<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Painter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link active" style="color:rgb(0, 119, 255);" href="{% url 'upload' %}">Upload</a>
                  </li>
                {% endif %}
            </div>
            <h5>
                {% if user.is_authenticated %}
                    Hi, <a href="{% url 'profile' user.username %}">{{ user.username }}</a>&nbsp;|&nbsp;
                    <a href="{% url 'account_logout' %}">Log Out</a>
                {% else %}
                    <a href="{% url 'account_login' %}">Log In</a>&nbsp;|&nbsp;
                    <a href="{% url 'account_signup' %}">Sign Up</a>
                {% endif %}
            </h5>
          </nav>
          <div class="container">
              {% block content %}
              {% endblock content %}
          </div>
    </body>
</html>