{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}delete {{ photo.name }}{% endblock %}

{% block content %}
    <h1> Are you sure you want to delete this photo?</h1>
    <img src="{{ photo.photo.url }}">
    <form method="post" style="margin-top: 1.3em;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-lg">Delete</button>
        <a href="{% url 'photo' photo.pk %}" class="btn btn-success">Cancel</a>
    </form>
{% endblock content %}