{% extends '_base.html' %}
{% block title %}Painter{% endblock title %}

{% block content %}
    <h1>Home Page</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'upload' %}" class="btn btn-success btn-lg">
            Upload
        </a>
    {% endif %}
    <div>
        {% for photo in photos %}
        <div style="display: inline-block; padding: 30px 0 0 50px;">
            <h1>{{ photo.name }}</h1>
            <p>
                <a href="{% url 'profile' photo.uploader.username %}">
                    {{ photo.uploader.username }}
                </a>
                 | {{ photo.date }}
                </p>
            <a href="{% url 'photo' photo.pk %}">
                <img 
                    {% if photo.painted_photo %}
                        src="{{ photo.painted_photo.url }}"
                    {% else %}
                        src="{{ photo.photo.url }}"
                    {% endif %}
                 style="width: 300px">
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock content %}