{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Painter {{ photo.name }}{% endblock title %}

{% block content %}
    <div style="display: inline-flex;">
        <div>
            <h1>{{ photo.name }}</h1>
            <img src="{{ photo.photo.url }}" style="width: 500px;">
        </div>
        <div style="margin-left: 30px;">
            <h1 style="color: red">{{message}}</h1>
            <button onclick="addColor()" class="btn btn-success btn-lg" style="margin: 30px">Add color setting</button>
            <h4>
                <span id='rtext'>Replace</span> this color: <input style="margin:30px" id='_color' type="color" style="margin: 30px"><br>
                With this color: <input style="margin:30px" id='_newColor' type="color" style="margin: 30px"><br>
                choose background color: <input style="margin:30px" type="color" id='_bgColor' style="margin: 30px"><br>
                range: <input style="margin:30px" id='_range' type="number" max="255" value="10"><br>
                draw: <input onclick="drawOrSkip()" style="margin:30px" id='_draw' type="checkbox" checked><br>
            </h4>
            <form method="post"  style="margin-top: 1.3em;">
                {% csrf_token %}
                <input id='color' name='color' hidden>
                <input id="newColor" name='new_color' hidden>
                <input id='bgColor' name='bgColor' hidden>
                <input id='range' name='range' hidden>
                <input id='draw' name='draw' hidden>
                <button type="submit" class="btn btn-primary btn-lg" style="margin: 30px">painter</button>     
            </form>
        </div>
    </div>
    <script>
        var colorElem = document.getElementById('color')
        var newColorElem = document.getElementById('newColor')
        var rangeElem = document.getElementById('range')
        var drawElem = document.getElementById('draw')
        var bgColorElem = document.getElementById('bgColor')

        function addColor() {
            colorElem.value += document.getElementById('_color').value + ' ';
            newColorElem.value += document.getElementById('_newColor').value + ' ';
            rangeElem.value += document.getElementById('_range').value + ' ';
            drawElem.value += document.getElementById('_draw').checked + ' '
            bgColorElem.value = document.getElementById('_bgColor').value
        };

        function drawOrSkip() {
            if (document.getElementById('_draw').checked) {
                document.getElementById('_newColor').disabled = false;
                document.getElementById('rtext').innerText = "Replace"
            }
            else {
                document.getElementById('_newColor').disabled = true;
                document.getElementById('rtext').innerText = "Skip"
                }
            };
    </script>
{% endblock %}