{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ photo.name }}{% endblock %}

{% block content %}
    <div style="display: inline-flex;">
        <div style="margin-right: 50px;">
            <div style="display: inline-flex;">
                <div>
                    <h1>{{ photo.name }}</h1>
                    <h2>
                        <a href="{% url 'profile' photo.uploader.username %}">
                            {{ photo.uploader.username }}
                        </a>
                    </h2>
                </div>
                {% if user.is_authenticated %}
                    <a href="{% url 'delete' photo.pk %}" class="btn btn-danger" style="margin-left: 230px;">Delete</a>
                {% endif %}
                {% if user == photo.uploader %}
                    <a class="btn btn-success btn-lg" style="margin-left: 10px;"
                        href="{% url 'painter' photo.pk %}">Painter</a>
                {% endif %}
            </div>
            <br>
            
            {% if user.is_authenticated %}
                <img src="{{ photo.photo.url }}" style="width: 500px;">
                {% if photo.painted_photo %}
                    <hr>
                    <img src="{{ photo.painted_photo.url }}" style="width: 500px;">
                {% endif %}
            {% else %}
                <img 
                    {% if photo.painted_photo %}
                        src="{{ photo.painted_photo.url }}"
                    {% else %}
                        src="{{ photo.photo.url }}"
                    {% endif %}
                style="width: 500px;">
            {% endif %}
            <p>
                {% if user.is_authenticated %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input name='like' hidden>
                        <button 
                        {% if is_liked %}
                                class="btn btn-primary ml-2" type="submit">
                            {% else %}
                                class="btn btn-dark ml-2" type="submit">
                                {% endif %}
                            <img src="{% static 'img/like.png' %}" style="width: 30px; height: 30px;">
                        </button>
                    </form>
                    
                {% endif %}
                {{ likes }} likes<br>
                {{ photo.date }}
            </p>
        
        </div>
        <div>
            {% if user.is_authenticated %}
                <h3>Leave a comment</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <button type="submit" class="btn btn-primary btn-lg">Comment</button>
                </form>
            {% endif %}
            <p>
                {% for comment in comments %}
                    <hr>
                    <span class="font-weight-bold">
                        {{ comment.user }} &middot;
                    </span>
                    {{ comment.created_at }}
                    <h5>{{ comment.comment }}</h5> 
                    <hr>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock content %}