{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ uploader.username }}{% endblock title %}

{% block content %}
    <h1>{{ uploader.username }} profile</h1>
    <div>
        {% if user == uploader %}
                <a href="{% url 'upload' %}" class="btn btn-success btn-lg">
                    Upload
                </a>
        {% endif %}
        {% for photo in photos %}
            <div style="display: inline-block; padding: 30px 0 0 50px;">
                <h3>{{ photo.name }}</h3>
                <a href="{% url 'photo' photo.pk %}">
                    <img 
                        {% if photo.painted_photo %}
                            src="{{ photo.painted_photo.url }}"
                        {% else %}
                            src="{{ photo.photo.url }}"
                        {% endif %}
                    style="width: 300px;">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}