{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Upload photo{% endblock %}

{% block content %}
    <form method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
        {% csrf_token %}
        {{ photo_form|crispy }}
        <button type="submit" class="btn btn-primary btn-lg">Upload</button>
    </form>
{% endblock content %}